@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import "tailwindcss";


@theme {
    --font-Bricolage: "Bricolage Grotesque";
}

.bricolage-grotesque,
label,
input,
select,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Bricolage Grotesque";
}