# Node modules
node_modules/
.env

# Build output
dist/
build/

# IDE / Editor settings
.vscode/
.idea/
*.swp
git/
logs/
cert/
.husky/

# TypeScript cache
*.tsbuildinfo
.pnpm-lock.yaml
package-lock.json